.wrap {
  width: 100%;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    font-family: monospace;
    background: var(--overlay-bg);
    border-top: 1px solid var(--button-border-color);
    > .date {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: start;
      color: var(--date-text);
      .icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        fill: var(--amount-text);
      }
    }
    > .amount {
      font-size: 20px;
      color: var(--amount-text);
    }
  }

  .bottom {
    .pad_wrap {
      display: grid;
      grid-template-areas:
        'n1 n2 n3 d'
        'n4 n5 n6 d'
        'n7 n8 n9 s'
        'n0 n0 nd s';
      grid-auto-rows: 48px;
      grid-auto-columns: 1fr;
      gap: 1px;
      flex-wrap: wrap;
      background: var(--button-border-color);
      border-top: 1px solid var(--button-border-color);
      > button {
        border: none;
        background: var(--input-pad-button-bg);
        &:nth-child(11) {
          grid-area: n0;
        }
        &:nth-child(12) {
          grid-area: d;
        }
        &:nth-child(13) {
          grid-area: s;
          background: var(--button-bg-important);
          color: var(--button-text-important);
        }
        &.disabled {
          background: #999;
        }
      }
    }
  }
}
