.navbar {
  background: linear-gradient(to bottom, var(--navbar-bg-start), var(--navbar-bg-end));
  color: var(--navbar-text);
  fill: var(--navbar-text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 38px 8px 12px;

  .icon_wrapper {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    > * {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .title_wrapper {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 700;
  }
}
