.tips {
  text-align: center;
  padding: 1px 0 15px;
}
.form_row {
  margin-top: 8px;
}

.form_item {
  min-height: var(--input-min-height);
  max-width: 100%;
  &.select {
    width: 100px;
    height: 30px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-radius);
    padding: 0 8px;
  }

  &.input {
    flex-grow: 1;

    border: 1px solid var(--input-border-color);
    border-radius: var(--input-radius);
    font-size: 18px;
    font-family: inherit;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: inset 0 0 3px var(--input-shadow);
    &.input_with_button {
      width: 9em;
    }

    &.error {
      border-color: var(--error-color);
    }
  }

  &_value {
    display: flex;
    margin-top: 4px;
  }

  &_errorHint {
    margin-top: 4px;
    color: var(--error-color);
    font-size: 12px;
  }
}
.actions {
  padding: 0 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  .removeTags,
  .removeTagsAndItems {
    width: calc(50% - 8px);
  }
}

.slots_button {
  // flex-shrink: 0;
  // width: 100%;
  width: 15em;
  margin-left: 16px;

  button {
    width: 100%;
  }
}
